@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;

}

.heading{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 150px;
  font-size: x-large;
  font-weight: 900;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nxt_button{
  margin-left : 30px;
  padding: 14px 40px;
  background-color: #008CBA;
  font-size: medium;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  cursor: pointer
}

@media screen and (max-width: 768px) {
  .heading {
    margin-top: 100px;
    font-size: large;
  }
  
  .content {
    flex-direction: column;
  }
  
  .nxt_button {
    margin-top: 20px;
    font-size: small;
    padding: 10px 30px;
  }
}